
@{
    ViewBag.Title = "Hizmetler";
    Layout = "~/Views/Shared/Vitrin.cshtml";
}


<!doctype html>
<html lang="en">
<body>
    <section class="w3l-breadcrumb">
        <div class="breadcrum-bg py-sm-5 py-4">
            <div class="container py-lg-3">
                <h2>Hizmetlerimiz</h2>
                <p><a href="~/AnaSayfa/AnaSayfa">Ana Sayfa</a> &nbsp; / &nbsp; Hizmetlerimiz</p>

            </div>
        </div>
    </section>
    <!--  services section -->
    <section class="w3l-servicesblock1" id="service">
        <div class="features-with-17_sur py-5">
            <div class="container py-lg-5 py-sm-4">
                <div class="features-with-17-top_sur">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 align-self">
                            <h3 class="title-small">MVC Hotels Hizmetleri</h3>
                            <p>
                                Bütün Odalarımızda Mini Buzdolabı, Televizyon, Wİ-Fİ, Sıcak Su, Dolap, Balkon, Klima Gibi
                                Araçların Tamamı Bulunmaktadır. Ek Olarak 7/24 Resepsiyona Erişebilirsiniz.
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                            <div class="features-with-17-right-tp_sur">
                                <div class="features-with-17-left1">
                                    <span class="fa fa-bed" aria-hidden="true"></span>
                                </div>
                                <div class="features-with-17-left2">
                                    <h5>Fitness Alanı</h5>
                                    <h6><a href="#url">Yüzme Havuzu</a></h6>
                                    <p>
                                        Yetişkinler ve Çocuklar İçin Olimpik Yüzme Havuzu, Şezlong & Şemsiye Hizmetimiz Yer Almaktadır.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-lg-0 mt-sm-5 mt-4">
                            <div class="features-with-17-right-tp_sur">
                                <div class="features-with-17-left1">
                                    <span class="fa fa-beer" aria-hidden="true"></span>
                                </div>
                                <div class="features-with-17-left2">
                                    <h5>Yiyecek &Aacute; İçecek</h5>
                                    <h6><a href="#url">Restaurant ve Bar</a></h6>
                                    <p>
                                        Restorantımız 08:00-23:00 Arası Barımız 10:00-02:00'a Kadar Hizmet Vermektedir.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-sm-5 mt-4">
                            <div class="features-with-17-right-tp_sur">
                                <div class="features-with-17-left1">
                                    <span class="fa fa-wifi" aria-hidden="true"></span>
                                </div>
                                <div class="features-with-17-left2">
                                    <h5>Konaklama</h5>
                                    <h6><a href="#url">Yüksek Hızda Wİ-Fİ</a> </h6>
                                    <p>
                                        Konakladığınız Odalarınzıda 7/24 Yüksek Hızda Wİ-Fİ'ye Erişim Sağlayabilirsiniz.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-sm-5 mt-4">
                            <div class="features-with-17-right-tp_sur">
                                <div class="features-with-17-left1">
                                    <span class="fa fa-bed" aria-hidden="true"></span>
                                </div>
                                <div class="features-with-17-left2">
                                    <h5>Konfor ve Rahatlık</h5>
                                    <h6><a href="#url">SPA & Sağlık</a> </h6>
                                    <p>
                                        Haftanın 3 Günü Pazartesi-Çarşamba ve Cuma Olmak Üzere 7/24 SPA Hizmetimizden Faydalanabilirsiniz.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-sm-5 mt-4">
                            <div class="features-with-17-right-tp_sur">
                                <div class="features-with-17-left1">
                                    <span class="fa fa-headphones" aria-hidden="true"></span>
                                </div>
                                <div class="features-with-17-left2">
                                    <h5>Güvenli</h5>
                                    <h6><a href="#url">Staff 24/7</a> </h6>
                                    <p>
                                        7/24 Çalışan ve Gözetleyen Kamera ve Güvenlik Ekibimizin Bulunduğu Hotelimizde Mal ve Can Güvenliğiniz Emin Ellerdedir.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="w3l-stats">
        <div class="main-w3 py-5">
            <div class="container py-lg-3">
                <div class="row align-items-center">
                    <div class="col-md-6 title">
                        <h3 class="title-big">Hotelimizin İşletmeleri</h3>
                        <img src="~/HotelTemalar/Hotels/assets/images/facilities.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6 main-cont-wthree-fea text-center">
                        <div class="row">
                            <div class="col-6 pr-2 mt-4">
                                <div class="grids-speci1">
                                    <span class="fa fa-television"></span>
                                    <h3 class="title-spe">Tv</h3>
                                    <p>Uydu</p>
                                </div>
                            </div>
                            <div class="col-6 pl-2 mt-4">
                                <div class="grids-speci1">
                                    <span class="fa fa-motorcycle"></span>
                                    <h3 class="title-spe">Bisiklet</h3>
                                    <p>Kiralama</p>
                                </div>
                            </div>
                            <div class="col-6 pr-2 mt-4">
                                <div class="grids-speci1">
                                    <span class="fa fa-cutlery"></span>
                                    <h3 class="title-spe">Yemek</h3>
                                    <p>Dahil</p>
                                </div>
                            </div>
                            <div class="col-6 pl-2 mt-4">
                                <div class="grids-speci1">
                                    <span class="fa fa-bed"></span>
                                    <h3 class="title-spe">Yatak</h3>
                                    <p>Büyük Boy</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="w3l-feature-2">
        <div class="grid top-bottom py-5">
            <div class="container py-md-5">
                <h3 class="title-big text-center">Hotel Odalarımız En İyi Tasarımlarla Yapılmıştır</h3>
                <div class="middle-section row mt-lg-5 pt-md-3">
                    <div class="three-grids-columns col-lg-4 col-md-6">
                        <img src="~/HotelTemalar/Hotels/assets/images/slide1.jpg" alt="" class="img-fluid">
                        <div class="info">
                            <h4><a href="#url"> Restaurant ve Bar</a></h4>
                            <p>
                                Açık Olduğu Saatlerde Dilediğiniz Vakit Restaurant ve Barlarımızı Ücretsiz Olarak Kullanabilirsiniz.
                            </p>
                            <a href="~/Hizmetler/Hizmetler" class="btn mt-4">Daha Fazla</a>
                        </div>
                    </div>
                    <div class="three-grids-columns col-lg-4 col-md-6 mt-md-0 mt-4">
                        <img src="~/HotelTemalar/Hotels/assets/images/slide2.jpg" alt="" class="img-fluid">
                        <div class="info">
                            <h4> <a href="#url">Sohbet ve Muhabbet </a></h4>
                            <p>
                                İnsanların Birbiriyle Muhabbet Ederek Stres Attığı Etkinliklerimize Katılabilirsiniz.
                            </p>
                            <a href="~/Hizmetler/Hizmetler" class="btn mt-4">Daha Fazla</a>
                        </div>
                    </div>
                    <div class="three-grids-columns col-lg-4 col-md-6 mt-lg-0 mt-4">
                        <img src="~/HotelTemalar/Hotels/assets/images/slide3.jpg" alt="" class="img-fluid">
                        <div class="info">
                            <h4> <a href="#url"> SPA ve Sağlık </a></h4>
                            <p>
                                Sağlığınız İçin SPA'nın Açık Olduğu Günlerde Uğramanızı ve Rahatlamanızı Tavsiye Ederiz.
                            </p>
                            <a href="~/Hizmetler/Hizmetler" class="btn mt-4">Daha Fazla</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</body>

</html>
