
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Misafir Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="~/HotelTemalar/StartBPanel/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand ps-3" href="~/Misafir/AnaMisafir">Hotel Misafir Paneli</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    </nav>




    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Misafir Menü</div>
                        <a class="nav-link" href="~/Misafir/Profilim">
                            <div class="sb-nav-link-icon"><i class="fas fa-music"></i></div>
                            Profilim
                        </a>
                        <a class="nav-link" href="~/Misafir/Rezervasyonlarim">
                            <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
                            Rezervasyonlarım
                        </a>
                        <a class="nav-link" href="~/Misafir/GelenMesajlar">
                            <div class="sb-nav-link-icon"><i class="fas fa-bookmark"></i></div>
                            Mesajlarım
                        </a>
                        <a class="nav-link" href="~/Rezervasyon/Rezervasyon">
                            <div class="sb-nav-link-icon"><i class="fas fa-suitcase"></i></div>
                            Yeni Rezervasyon
                        </a>
                        <a class="nav-link" href="~/AnaSayfa/AnaSayfa">
                            <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                            Ana Sayfa
                        </a>
                        <a class="nav-link" href="~/Iletisim/Iletisim">
                            <div class="sb-nav-link-icon"><i class="fas fa-phone"></i></div>
                            İletişim
                        </a>
                        <a class="nav-link" href="~/Misafir/CikisYap">
                            <div class="sb-nav-link-icon"><i class="fas fa-car"></i></div>
                            Çıkış Yap
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Olarak Giriş Yapıldı:</div>
                    Erkan Bostan
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main style="margin:25px">
                @RenderBody()
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted"> Hotel Rezervasyon Web 2022 | Designed By Erkan Bostan </div>
                        <div>
                            <a href="#">Gizlilik Politikası</a>
                            &middot;
                            <a href="#">Şartlar &amp; Koşullar</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/HotelTemalar/StartBPanel/js/scripts.js"></script>
</body>
</html>
